.epg-container {
	.epg-body {
		display: flex;

		.epg-channels {
			display: flex;
			flex-direction: column;

			.epg-channel-item {
				width: 75px;
				height: $row-height;
				background-color: $grey-dark;
				border-bottom: 1px solid $grey;
				box-sizing: border-box;

				img {
					width: 75px;
					height: $row-height;
				}
			}
		}

		.epg-schedules {
			overflow: scroll;
			position: relative;

			&::-webkit-scrollbar {
				display: none;
			}

			.epg-schedule-time {
				display: flex;
				overflow-x: auto;
				height: $row-height;

				.hour {
					text-align: center;
					background-color: $grey-dark;
					border: 1px solid $grey;
					color: $white;
					box-sizing: border-box;
					padding-top: 15px;
				}
			}

			.epg-schedule {
				display: flex;

				.schedule-box {
					height: $row-height;
					font-size: $text-size;
					color: $white;
					background-color: $black;
					box-sizing: border-box;
					border-bottom: 1px solid $grey;
					border-left: 1px solid $grey;

					.title {
						margin-top: 10px;
						margin-left: 10px;
						display: block;
					}
					.time {
						margin-left: 10px;
						margin-top: 5px;
						display: block;
					}
				}

				.on-live {
					background-color: $grey-light;
				}
			}

			.vertical-line {
				position: absolute;
				height: 100%;
				box-sizing: border-box;
				border: 1px solid $orange;
				z-index: 2222;
			}
		}
	}
}
