.epg-table {
	position: relative;

	.epg-header {
		display: flex;
		height: $row-height;
		background-color: $grey-dark;

		.epg-calendar {
			display: flex;
			overflow: scroll;

			&::-webkit-scrollbar {
				display: none;
			}

			.epg-calendar-day {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 30px;
				color: #ccc;
				box-sizing: border-box;
				border-right: 1px solid $grey-light;

				&.today {
					color: $white;
					background-color: $grey-light;
				}
			}
		}

		.epg-header-icon {
			padding-bottom: 60px;
			border: 1px solid $grey-light;
			box-sizing: border-box;
			box-shadow: 10px 0 20px -15px black;

			img {
				width: 30px;
				height: 30px;
				padding: 15px 22.5px;
			}
		}
	}

	.epg-body {
		display: flex;

		.epg-channels {
			display: flex;
			flex-direction: column;
			background-color: $grey-dark;
			z-index: 10;
			box-shadow: 10px 0 20px -15px black;

			.epg-channel-item {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 75px;
				height: $row-height;
				background-color: $grey-dark;
				border-bottom: 1px solid $grey;
				box-sizing: border-box;

				&:first-child {
					margin-top: 60px;
				}

				.epg-channel-logo {
					width: 30px;
					height: 30px;
				}
			}
		}

		.epg-schedules {
			overflow: scroll;
			position: relative;
			background-color: $grey-dark;

			&::-webkit-scrollbar {
				display: none;
			}

			.epg-schedule-time {
				display: flex;
				overflow-x: auto;
				height: $row-height;

				.hour {
					text-align: center;
					background-color: $grey-dark;
					border: 1px solid $grey;
					color: $white;
					box-sizing: border-box;
					padding-top: 20px;
				}
			}

			.epg-schedule-row {
				display: flex;

				.epg-program {
					height: $row-height;
					font-size: $text-size;
					color: $white;
					background-color: $black;
					box-sizing: border-box;
					border-bottom: 1px solid $grey;
					border-left: 1px solid $grey;

					&:hover {
						cursor: pointer;
						background-color: $grey-light;
					}

					.title {
						margin-top: 10px;
						margin-left: 10px;
						display: block;
					}
					.time {
						margin-left: 10px;
						margin-top: 5px;
						display: block;
					}
				}

				.on-live {
					background-color: $grey-light;
				}
			}

			.vertical-line {
				position: absolute;
				height: 100%;
				box-sizing: border-box;
				border: 1px solid $orange;
				z-index: 2222;
			}
		}

		.epg-btn-live {
			position: absolute;
			background-color: $orange;
			bottom: 50px;
			right: 50px;
			padding: 10px 15px;
			color: $white;
			border: none;
			border-radius: 5px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
