.program-detail {
	margin: auto;
	margin-top: 40px;
	max-width: 750px;
	display: flex;

	.program-img {
		width: 300px;
		height: 500px;
	}

	.program-content {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		height: 100%;

		.title {
			font-size: 40px;
			font-weight: bold;
		}

		.watch-button {
			background-color: $grey-light;
			padding: 15px 0;
			border-radius: 15px;
			color: $white;
			border: none;
			width: 150px;
		}

		.description {
			margin-top: 20px;
			margin-bottom: 100px;
		}

		.year {
			margin: 10px 0px;
			font-size: 20px;
		}

		.back-button {
			background-color: $grey-light;
			padding: 15px 0;
			border-radius: 15px;
			color: $white;
			border: none;
			width: 150px;
			margin: auto;
		}

		.back-button:hover,
		.watch-button:hover {
			cursor: pointer;
		}
	}
}

@media (max-width: $layout-breakpoint-phone) {
	.program-detail {
		flex-direction: column;
		align-items: center;
		width: auto;
		.program-content {
			align-items: center;
			max-width: 350px;
			margin-left: 0;
			.title {
				margin-top: 20px;
			}

			.description {
				margin-bottom: 40px;
			}
		}
	}
}
